<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
     <%- include("../includes/navigation.ejs") %>
     <main class="centered">
          <h2 class="cart">Completed Orders</h2>

          <%if(orders.length <= 0){%>
          <div class="no-products">
          </div>
               <h3>Shopping Cart is empty</h3>
          <% }else{%>
              
               <div class="">
                        
                         <div class="order-header">
                              
                              <span class="order-header-field">
                                   Quantity
                              </span>          
                              <span class="order-header-field">
                                   Title
                              </span>
          
                              <span class="order-header-field">
                                   Image
                              </span>
                              <span class="order-header-field">
                                   Price
                              </span>
                                                   
                         </div>    
                    
                   
                        <%orders.map(order => { %>
                                          
                         <div class="order-border">
                         <p> Order Summary</p>  
                             
                         
                                        <%order.items.map(product => {%>
                                             
                                             <div class="orders-list">
                                                  <span class="order-list-item">
                                                       <%=product.quantity%>
                                                  </span >
                                                  <span class="order-list-item">
                                                       <%=product.title%>
                                                  </span>
                                                  <span class="order-list-item">
                                                       <img src="<%=product.imageUrl%>" height="100px" width="auto"  alt="<%=product.imageUrl%>">
                                                  </span>                 
                                                  <span class="order-list-item">
                                                       <%=product.price%>
                                                  </span>
                                             </div>
                                        <%})%>
                         </div>                                 
                      
     
                         <%})%>
                 
               
          <%}%>
               </div>    
     </main>
    
<%- include("../includes/end.ejs") %>